/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


 .icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
        #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

/** Temperature slide*/

#slider-temp .noUi-connect {
	background: purple;
}
#slider-temp .noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
	background: purple;
}
#slider-temp .noUi-tooltip {
	background-color: purple;
}
/** ph slide*/
#slider-ph .noUi-connect {
	background: royalblue;
}
#slider-ph .noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
	background: royalblue;
}
#slider-ph .noUi-tooltip {
	background-color: royalblue;
}
/** press slide*/
#slider-press .noUi-connect {
	background: indianred;
}
#slider-press .noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
	background: indianred;
}
#slider-press .noUi-tooltip {
	background-color: indianred;
}

.active {
  background: purple;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 20%;
  width: 80%;
  text-align: center;
}
canvas {
  margin: 0 auto;
}
.chartWrapper{
  position: relative
}
.chartWrapper > canvas {
  position: relative;
  left: 0;
  top: 0;
  pointer-events: none;
  
}
.chartAreaWrapper{
  width: 100%;
  overflow-x: scroll;
  position: relative;
}

    