<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="shortcut icon" href="byby.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="lib/html5-boilerplate/dist/js/vendor/aws-cognito-sdk.min.js"></script>
    <script src="lib/html5-boilerplate/dist/js/vendor/amazon-cognito-identity.min.js"></script>
    <script src="js/config.js"></script>
</head>

<body>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->


    <div ng-controller='myAppCtrl'>
        <div name="header" ng-model='header' ng-controller='myAppCtrl'>

            <div class="navbar-fixed hide-on-med-and-down">
                <nav role="navigation">
                    <div class="nav-wrapper container"><a id="logo-container" href="#!" class="brand-logo">H O M E </a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="#!/make-batch">Make Batch</a></li>
                            <li><a href="#!">Capture Recipe</a></li>
                            <li><a ng-click="signOut()">Sign Out</a></li>
                        </ul>

                        <ul id="nav-mobile" class="sidenav">
                            <li><a href="#!">Make Batch</a></li>
                            <li><a href="#!">Capture Recipe</a></li>
                            <li><a ng-click="signOut()">Sign Out</a></li>
                        </ul>
                        <a href="#!" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    </div>

                </nav>
            </div>
            <nav class="hide-on-large-only" role="navigation">
                <div class="nav-wrapper container"><a id="logo-container" href="#!" class="brand-logo">HOME </a>

                    <a href="#!/" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="sidenav">
                        <li><a href="#!">Make Batch</a></li>
                        <li><a href="#!">Capture Recipe</a></li>
                        <li><a ng-click="signOut()">Sign Out</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div ng-view></div>
    </div>

    <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/login.js"></script>
    <script src="js/sign-up.js"></script>
    <script src="js/make-batch.js"></script>
    <script src="js/verify.js"></script>
    <script src="js/resend.js"></script>
    <script src="js/home.js"></script>
    <script src="js/materialize.js"></script>
</body>
<div class="end-footer">
    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like
                        it's
                        our full time job. Any amount would help support and continue development on this project and
                        is
                        greatly appreciated.</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Thermo Bois</a>
            </div>
        </div>
    </footer>
</div>

</html>