<html>
<div ng-controller='myAppCtrl'>
    <div ng-include='"frames/header.html"'></div>
</div>
<div ng-controller="BatchViewCtrl">
    <div>
        <div class="chart-container">
            <canvas id="tempChart" height="100px"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="phChart" height="100px"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="pressChart" height="100px"></canvas>
        </div>
    </div>
</div>

</html>