<html>
<div ng-controller='myAppCtrl'>
    <div ng-include='"frames/header.html"'></div>
</div>
<div ng-controller="BatchViewCtrl">
    <a class="btn waves-effect waves-purple white black-text" ng-click="reloadData()"> Reload Placeholder </a>
    <div>
        <div class="chart-container">
            Temperature
            <div class="chartWrapper">
                <div class="chartAreaWrapper">
                    <canvas id="tempChart" height="400px" width="2400"></canvas>
                </div>
            </div>
        </div>
        <div class="chart-container">
            Ph
            <div class="chartWrapper">
                <div class="chartAreaWrapper">
                    <canvas id="phChart" height="400px" width="2400"></canvas>
                </div>
            </div>
        </div>
        <div class="chart-container">
            Pressure
            <div class="chartWrapper">
                <div class="chartAreaWrapper">
                    <canvas id="pressChart" height="400px" width="2400"></canvas>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

</html>