<?xml version="1.0" encoding="utf-8" ?>
<html>
<div ng-controller='myAppCtrl'>
  <div ng-include='"frames/header.html"'></div>
</div>

<div ng-controller='HomeCtrl'>
  <div class="container">
    <div class="row center">
      <h3 class="header center orange-text">Home</h3>
    </div>
    <div class="divider"></div>
    <br>
    <div class="row ">
      <div class="group col s12 m12 l12">
        <ul class="collection" style="max-width: 850px; max-height: 700px; width: auto; height: auto;overflow: auto">
          <li class="collection-item avatar" ng-click="selectBatch(x)" ng-repeat="x in batches">
            <img src="/stickers/blue.png" alt="icon" class="circle">
            <span class="title">Batch in {{x.Bioreactor.FacilityName}}</span>
            <p>{{x.Recipe.Name}} <br>
              {{x.Status}}
            </p>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

</html>