<?xml version="1.0" encoding="utf-8" ?>
<html>
    <div ng-controller='LoginCtrl'>
        <div class="container">
            <div style="text-align:center">
                <h3>Welcome to Byby-Brewing!</h3>
                <form name="signInForm">
                    <div class="row">
                        <div class="col s6 m6">
                            <h5>Log into your account.</h5>
                            <img width="200" alt="loginView" src="stickers/akko.png"/>
                        </div>
                        <div class="col s6 m6">
                            <div>
                                <input type="email" placeholder="Email" name="email" ng-model="email" required />
                            </div>
                            <div>
                                <input type="password" placeholder="Password" name="pswd" ng-model="pswd" required />
                            </div>
                        </div>
                        <div style="text-align: center">
                            <a class="btn waves-effect waves-light red lighten-2 black-text" ng-click="handleSignin()" ng-disabled="signInForm.email.$dirty && signInForm.email.$invalid 
                            || signInForm.pswd.$dirty && signInForm.pswd.$invalid || signInForm.$invalid" >Log in</a>
                        </div>
                        <div style="text-align: center">
                            <label>Don't have an account? </label>
                            <a href="#!/sign-up">Sign up</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</html>