<html>
<div ng-controller='myAppCtrl'>
    <div ng-include='"frames/header.html"'></div>
</div>
<div ng-controller="RegisterRecipeCtrl">
    <div class="container">
        <form name="registerForm">
            <div style="text-align:center">

                <div class="row">
                    <div class="group col s12 m6 l6">
                        <h4>Ingredients</h4>
                        <ul class="collection" style="width:auto;height:auto; max-width: 600px; max-height: 500px; overflow: auto; overflow-x: hidden;">
                            <div>
                                <h5>Name</h5>
                                <div class="divider"></div>
                                <div class="row">
                                    <div class="group col s12">
                                        <input type="text" placeholder="Name" name="Name" ng-model="name" required ng-change="search()" required pattern="^[a-zA-Z0-9\sñÑ]*$" />
                                    </div>
                                    <div style="color:red;" ng-show="registerForm.Name.$invalid && registerForm.Name.$dirty">
                                        Only alphanumeric characters are allowed!
                                    </div>
                                    <div ng-hide="!notfound" style="color:red">Name already in database!</div>

                                </div>
                                <br>
                                <div class="divider"></div>
                                <br>
                                <h5>Water</h5>
                                <div class="divider"></div>
                                <div class="row">
                                    <div class="group col s12">
                                        <input type="number" placeholder="Amount of water (L)" ng-model="water" required />
                                    </div>
                                </div>
                                <br><br>
                                <div class="divider"></div>
                                <br>
                                <h5>Hops</h5>
                                <ul>
                                    <li ng-repeat="grain in grainlist">
                                        <div>
                                            <div id={{grain.id}}>
                                                <span>
                                                    <div class="row">
                                                        <div class="group col s6">
                                                            <input name="grain{{$index+1}}" type="text"
                                                                ng-model="grain.name" placeholder="Hops" required
                                                                pattern="^[a-zA-Z0-9\sñÑ]*$" />
                                                        </div>
                                                        <div class="group col s6">
                                                            <input type="number" ng-model="grain.amount"
                                                                placeholder="Amount (gr)" required />
                                                        </div>
                                                        <div name="grain{{$index+1}}err" style="color:red;"
                                                            ng-show="registerForm.grain{{$index+1}}.$invalid && registerForm.grain{{$index+1}}.$dirty">
                                                            Only
                                                            alphanumeric characters are
                                                            allowed!
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="divider"></div>
                                                    <br>
                                                </span>
                                            </div>
                                            <span ng-hide="grainlist.length == 1">
                                                <a class="btn waves-effect waves-red white black-text"
                                                    ng-click="grainlist.splice($index, 1)">-</a>
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <br>
                                        <a class="btn waves-effect waves-purple white black-text" ng-click="newGrain($event)"> +
                                        </a>
                                    </li>
                                </ul>
                                <br>
                                <div class="divider"></div>
                                <br><br>
                                <h5>Yeast</h5>
                                <div class="divider"></div>
                                <ul>
                                    <li ng-repeat="yeast in yeastlist">
                                        <div>
                                            <div id={{yeast.id}}>
                                                <span>
                                                    <div class="row">
                                                        <div class="group col s6">
                                                            <input name="yeast{{$index+1}}" type="text"
                                                                ng-model="yeast.name" placeholder="Yeast" required
                                                                pattern="^[a-zA-Z0-9\sñÑ]*$" />
                                                        </div>
                                                        <div class="group col s6">
                                                            <input type="number" ng-model="yeast.amount"
                                                                placeholder="Amount (gr)" required />
                                                        </div>
                                                        <div name="yeast{{$index+1}}err" style="color:red;"
                                                            ng-show="registerForm.yeast{{$index+1}}.$invalid && registerForm.yeast{{$index+1}}.$dirty">
                                                            Only
                                                            alphanumeric characters are
                                                            allowed!
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="divider"></div>
                                                    <br>
                                                </span>
                                            </div>
                                            <span ng-hide="yeastlist.length == 1">
                                                <a class="btn waves-effect waves-red white black-text"
                                                    ng-click="yeastlist.splice($index, 1)">-</a>
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <br>
                                        <a class="btn waves-effect waves-purple white black-text" ng-click="newYeast($event)"> +
                                        </a>
                                    </li>
                                </ul>
                                <br>
                                <div class="divider"></div>
                                <br><br>
                                <h5>Malt/Syrup</h5>
                                <div class="divider"></div>
                                <ul>
                                    <li ng-repeat="syrup in syruplist">
                                        <div>
                                            <div id={{syrup.id}}>
                                                <span>
                                                    <div class="row">
                                                        <div class="group col s6">
                                                            <input name="syrup{{$index+1}}" type="text"
                                                                ng-model="syrup.name" placeholder="Syrup" required
                                                                pattern="^[a-zA-Z0-9\sñÑ]*$" />
                                                        </div>
                                                        <div class="group col s6">
                                                            <input type="number" ng-model="syrup.amount"
                                                                placeholder="Amount (gr)" required />
                                                        </div>
                                                        <div name="syrup{{$index+1}}err" style="color:red;"
                                                            ng-show="registerForm.syrup{{$index+1}}.$invalid && registerForm.syrup{{$index+1}}.$dirty">
                                                            Only
                                                            alphanumeric characters are
                                                            allowed!
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="divider"></div>
                                                    <br>
                                                </span>
                                            </div>
                                            <br>
                                            <span ng-hide="syruplist.length == 1">
                                                <a class="btn waves-effect waves-red white black-text"
                                                    ng-click="syruplist.splice($index, 1)">-</a>
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <br>
                                        <a class="btn waves-effect waves-purple white black-text" ng-click="newSyrup($event)"> +
                                        </a>
                                    </li>
                                </ul>
                                <br>
                                <div class="divider"></div>
                                <br><br>

                            </div>
                        </ul>
                    </div>
                    <div class="group col s4 offset-s2">
                        <div class="row">
                            <h4>Restrictions</h4>
                            <img width="65" height="65" src="../stickers/tempi.png" />
                            <h5 class="blue-grey-text darken-4">Temperature (°C)</h5>
                            <div id="slider-temp"></div>
                        </div>
                        <div class="row">
                            <img width="65" height="65" src="../stickers/waterph.png" />
                            <h5 class="blue-grey-text darken-4">pH</h5>
                            <div id="slider-ph"></div>
                        </div>
                        <div class="row">
                            <img width="65" height="65" src="../stickers/pres.png" />
                            <h5 class="blue-grey-text darken-4">Pressure (hPa)</h5>
                            <div id="slider-press"></div>
                        </div>
                    </div>
                </div>
                <a class="btn waves-effect waves-light red accent-1 black-text" ng-click="confirm()" ng-disabled="registerForm.$invalid || notfound"> Save recipe </a>
                <br>
                <div class="divider"></div>
                <br>
            </div>
        </form>
    </div>
</div>

</html>